/* COLORS */

/* primary */
.soft-blue {
  color: hsl(215, 51%, 70%);
}
.cyan {
  color: hsl(178, 100%, 50%);
}

/* neutral */

.very-dark-blue-main-bg {
  background-color: hsl(217, 54%, 11%);
}
.very-dark-blue-card-bg {
  background-color: hsl(216, 50%, 16%);
}
.very-dark-blue-line {
  color: hsl(215, 32%, 27%);
}
.white {
  color: hsl(0, 0%, 100%);
}

.white:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
/* TYPOGRAPHY */

/* Body Copy */

.font-size-18 {
  font-size: 18px;
}

/* Font */

.font-family {
  font-family: "Outfit", sans-serif;
}

.weights-300 {
  font-weight: 300;
}
.weights-400 {
  font-weight: 400;
}
.weights-600 {
  font-weight: 600;
}

.container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  width: 327px;
  height: 543px;
  border-radius: 10px;
}

.image-equilibrium {
  width: 327px;
  border-radius: 10px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}

.equilibrium {
  font-size: 1.25rem;
}

.ethereum-clock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-clock-ethereum {
  padding-right: 0.3rem;
}

hr {
  width: 100%;
  border-bottom: none;
  border-top: 1px solid;
  border-left: none;
  border-right: none;
}

.footer-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.avatar-image {
  width: 30px;
  height: 30px;
  border: solid 1px white;
  border-radius: 50%;
  margin-right: 15px;
}

.image-container:hover {
  background-color: rgba(0, 255, 247, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
